.name{
    text-align: center;
        font-size: 50px;
        color:blue;
        border: 1px solid rgb(211, 118, 12);
        background-color: rgb(221, 215, 230);
        margin: 30px;
}
 .foto{

    width: 350px;
    height: 450px;
    margin: 30px;
    border: 1px solid rgb(211, 118, 12);
} 
.near{
    text-align: center;
    margin: 30px;
}
.name-chapter{
   
    font-size: 30px;
    font-style: italic;
    margin: 30px;
}
.text{
    font-size: 25px;
    margin: 30px;
}
.name{
    margin: 30px;
}
div{margin: 30px;
    border: 1px solid rgb(211, 118, 12);}

@keyframes color-change {
    0% {
      color:black;
    }
  
    30% {
      color: green;
    }
  50%{color:rgb(233, 229, 14)}
     80% {
      color: blue;
    } 
    100%{
      color: black;
    }
  }
  
  #black-white {
   
    animation: color-change 2s infinite;
  }
