
.header-conteiner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  width: 1000px;
  height: 400px;
}

.header-conteiner div {
  min-width: 100px;
}
.header-foto,
.main-contact,
.img_rsschool {
  background-color: rgb(234, 236, 222);
  padding: 10px 0px 0px 10px;
}
.header-name,
.main-description,
.footer-information {
  width: 700px;
  background-color: rgb(234, 236, 222);
}
.main-conteiner {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin: auto;
  width: 1000px;
  height: 500px;
}
.main-conteiner div {
  min-width: 100px;
}
.footer-conteiner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  width: 1000px;
  height: 100px;
}
.footer-conteiner div {
  min-width: 100px;
}

h1 {
  color: rgb(68, 64, 64);
  text-align: center;
  font-size: 60px;
  text-decoration: rgb(103, 120, 161) underline;
  font-family: sans-serif;
}
.header-name {
  background-color: rgb(234, 236, 222);
  text-align: center;
  font-size: 20px;
  color: rgb(68, 64, 64);
}
.text-size {
  height: 250px;
}
h2 {
  text-align: center;
  margin: 10px;
  font-size: 30px;
  color: rgb(68, 64, 64);
  text-decoration: rgb(103, 120, 161) underline;
}
.text {
  font-size: 20px;
}
.footer-repos {
  text-align: center;
  height: 50px;
}
.footer-today {
  text-align: center;
  height: 45px;
}
.img_rsschool {
  padding: 0px 0px 10px 10px;
}
.myself {
  height: 230px;
}
.education {
  height: 145px;
}
.english {
  height: 120px;
}
